body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

figcaption {
  font-size: 10pt;
  text-align: center;
}

nav {
  text-align: center;
}

nav > a {
  padding-right: 10px;
  padding-left: 10px;
  background: grey;
}

#featured-property > p{
  width: 800px;
  text-align: center;
  margin: auto;
  padding: 10px;

}

#details > div {
  float: left;
  background: red;
  text-align: center;
  width: 25%;

}